extends layouts/layout

block headerMenu
	ul(id='headerMenu', data-selected='false')
		if USER.LOGGED_IN
			a(href='/market')
				li Home
			a(href='/account')
				li Account
			a(href='/logout')
				li Logout
		else
			a(href='/')
				li Home
			a(href='/signin')
				li Log in
			a(href='/signup')
				li Sign up
			a(href='/tips')
				li Have tips?
	div(id='pageMessage')
	div(id='notification_container')

block accountBlock
	div(id='accountControlsContainer')
		span Settings
		div(id='accountTab', data-selected='true') Account
		div(id='passwordTab', data-selected='false') Password

	div(id='accountPanel')
		div(id='accountHeader') Account settings
		div(id='accountSettings')

			div(id='usernameContainer')
				label(id='usernameLabel') Username
				span(value='#{USER.USERNAME}', id='currentUsername') #{USER.USERNAME}

			div(id='emailContainer')
				label(id='linkedEmailLabel') Linked emails
				span(value='#{USER.EMAIL}', id='primaryEmail') Primary: #{USER.EMAIL}
				if DATA
					each item in DATA
						span(value='#{item}', class='email')= item
							button(id='removeEmail') Remove
				button(id='addEmail') Add new email

		div(id='passwordPanel')
			label Enter current password
			br
			input(id='currentPassword', type='password')
			br
			label Enter new password
			br
			input(id='newPassword', type='password')
			br
			label Confirm new password
			br
			input(id='newPasswordAgain', type='password')
			br
			button Change password

block loginForm
	div(id='loginFormErrorContainer') 
	div(id='loginFormContainer')
		div(id='loginFormHeader') Sign in
		form(id='loginForm', action='/auth', method='post')
			label Username or email
			input(id='username', name='u', type='text', tabindex=1)
			input(id='password', name='p', type='password', tabindex=2)
			a(href='/forgot')
				span(tabindex=4) forgot password?
		button(tabindex=3) Sign in
		a(href='/signup')
			div(id='signupNow') Don't have an account?

block registerForm
	div(id='registerFormContainer')
		div(id='registerFormHeader') Sign up
		form(id='registerForm', action='/process', method='post')
			label(id='firstnameLabel') First name
			label(id='lastnameLabel') Last name
			br
			input(id='firstname', name='f', type='text', tabindex=1)
			input(id='lastname', name='l', type='text', tabindex=2)
			br
			div(id='nameError') 
			br
			label Email address
			br
			input(id='email', name='e', type='text', tabindex=3)
			br
			div(id='emailError') 
			br
			label Confirm email
			br
			input(id='emailAgain', name='ea', type='text', tabindex=4)
			br
			div(id='emailAgainError') 
			br
			label Desired username
			br
			input(id='username', name='u', type='text', tabindex=5)
			br
			div(id='usernameError') 
			br
			label(id='passwordLabel') Desired password
			label(id='passwordAgainLabel') Confirm password
			br
			input(id='password', name='p', type='password', tabindex=6)
			input(id='passwordAgain', name='pa', type='password', tabindex=7)
			br
			div(id='passwordError') 
			br
			div(id='tosContainer')
				input(type='checkbox', name='tos', value='I_AGREE', tabindex=8)
				span(id='tosLetter')
					| By clicking here you agree to our 
					a(target='_blank', href='/policy.html', style='color: rgb(0, 100, 225);') terms of service
			div(id='tosError') 
		button(tabindex=9) Sign up
		a(href='/signin')
				div(id='signinNow') Already have an account ?

block mailBlock
	div(id='mailWrapper')
		div(id='pageMessage')
		div(id='backgroundBlur')

		div(id='viewerContainer')
			div(id='viewerControls')
				div(id='back')
					label(id='backLabel') back
				div(id='trash') Trash
				div(id='reply') Reply
			div(id='viewerContent')
				div(id='subject') 
				div(id='from') 
				div(id='to') 
				div(id='text') 
				
		
		div(id='composeForm', data-active='false')
			div(id='header') New message
				div(id='controls')
					div(id='close') &times;

			div(id='messageToContainer')
				div(id='chipsContainer')
				div(id='inputContainer')
					input(id='messageTo', type='text', placeholder='Add Recipient', tabindex=1)
			input(id='messageSubject', type='text', placeholder='Message Subject', tabindex=2)
			textarea(id='messageText', placeholder='Message...', tabindex=3)
			button(id='sendMessage') Send
			button(id='messageImage') Image
			button(id='cancelMessage') Cancel

		div(id='mailControlsContainer')
			div(id='mailControls')
				div(id='compose') Compose
				div(id='inbox', data-selected='true') Inbox
				div(id='trash', data-selected='false') Trash

		div(id='mailContent')
			div(id='mailActionsContainer', data-active='false')
				div(id='mailActionsButton') Actions
					div(id='mailActions', data-selected='false')
					
			div(id='mailFilters')
				div(id='selectAll') 
					input(type='checkbox')
					span Select all
				div(id='title') Title
				div(id='from') From
				div(id='date') Date

			div(id='messageContainer')
				//
					div(class='message')
						div(id='select')
							input(type='checkbox')
						div(id='id') ijfnJsK213m4kakms-oikjk-mdsk
						div(id='title') This is a title
						div(id='from') @lukeymoo
						div(id='date') Apr. 1


block profileBlock
	div(id='avatarContainer')
		img(id='avatar', alt='ProfilePic')


block tipsBlock
	div(id='tipsContainer')
		form(id='tipsForm')
			label(id='inputLabel') Got any tips for us ?
			textarea(id='tips', placeholder='Tell us here...')
		button Submit
		label(id='submitLabel') Yes, we do read these.

block frontPageBlock
	if USER.LOGGED_IN
	else
		div(id='heroContainer')
				div(id='welcome') Welcome to the DMV Exchange					
				div(id='overlay')
				a(href='/market')
						div(id='gotoMarket') Go to the Market
		div(id='contact', class='block') Buy, sell trade
		div(id='whatis', class='block') What is the DMV Exchange ?
			ul(id='cta_list')
				li Sell your stuff fast!
					span No complicated sale forms
						br
						| Enter a description, select images and Post it!
				li Get major discounts
					span Buy items with huge savings
						| or trade your unwanted stuff.
				li Establish your business
					span Use DMV Exchange as a platform to sell
						| products and services and avoid the startup costs of a business

block accountActivated
	div(id='overlayMessage')
		label Account Activated
		span Thanks for activating your account, more features have
			| become available to you.
		a(href='/')
			div(id='continueLink') Main page


block accountCanceled
	div(id='overlayMessage')
		label Are you sure you want to unlink email?
		span Your email will no longer be associated with this account
		a(href='/')
			div(id='wrongLink') No, don't unlink my email
		div(id='confirmLink') Yes, unlink my email

block accountActive
	div(id='overlayMessage')
		label This account has already been activated!
		span The activation code has already been used and
			| the account activated!
		a(href='/')
			div(id='continueLink') Continue