extends layouts/layout

block headerMenu
	ul(id='headerMenu', data-selected='false')
		if USER.LOGGED_IN
			a(href='/market')
				li Home
			a(href='/account')
				li Account
			a(href='/logout')
				li Logout
		else
			a(href='/')
				li Home
			a(href='/signin')
				li Log in
			a(href='/signup')
				li Sign up
			a(href='/tips')
				li Have tips?
	div(id='pageMessage')
	div(id='notification_container')

block accountBlock
	div(id='accountControlsContainer')
		span Settings
		div(id='accountTab', data-selected='true') Account
		div(id='passwordTab', data-selected='false') Password

	div(id='accountPanel')
		div(id='accountHeader') Account settings
		div(id='accountSettings')

			div(id='usernameContainer')
				label(id='usernameLabel') Username
				span(value='#{USER.USERNAME}', id='currentUsername') #{USER.USERNAME}

			div(id='emailContainer')
				label(id='linkedEmailLabel') Linked emails
				span(value='#{USER.EMAIL}', id='primaryEmail') Primary: #{USER.EMAIL}
				if DATA
					each item in DATA
						span(value='#{item}', class='email')= item
							button(id='removeEmail') Remove
				button(id='addEmail') Add new email

		div(id='passwordPanel')
			label Enter current password
			br
			input(id='currentPassword', type='password')
			br
			label Enter new password
			br
			input(id='newPassword', type='password')
			br
			label Confirm new password
			br
			input(id='newPasswordAgain', type='password')
			br
			button Change password

block loginForm
	div(id='notification-container')
	div(id='header-bar')
		span(id='logo')  DMV EXCHANGE 
		a(href='/signup')
			span(id='signup') Sign up
		a(href='/')
			span(id='home') Home
	span(id='banner') Sign in to get started
	div(id='signin-card')
		div(id='login-container')
			img(id='avatar', src='/img/avatar.png')
			form(id='signin-form', action='/auth', method='post')
				input(id='username-or-email', type='text', placeholder='Username or email', name='u', class='field')
				input(id='password', type='password', placeholder='Password', name='p', class='field')
				button(id='signin-button') Sign in
			a(href='/forgot')
				span(id='forgot-password') Forgot password?
	div(id='create-account-container')
		a(href='/signup')
			span(id='create-account') Don't have an account?

block registerForm
	div(id='notification-container')
	div(id='header-bar')
		span(id='logo')  DMV EXCHANGE 
		a(href='/signin')
			span(id='signin') Sign in
		a(href='/')
			span(id='home') Home
	span(id='banner') Create an account to get started
	div(id='signup-why')
		span(id='main') Build trust with your buyers and sellers
		span(id='main-support') With built-in review and reporting system
			| we filter and remove scammers and people who have a history of backing-out/wasting time.
		span(id='secondary') Find buyers and sellers quickly and efficiently
		span(id='secondary-support') Efficient search algorithms ensure you can find
			| relevant products closests to you and at a price you want.
		span(id='last') Build a brand
		span(id='last-support') Sell your products through DMV Exchange and avoid the cost and
			| associated overhead of a business.
	div(id='signup-card')
		div(id='signup-container')
			form(id='signup-form', action='/process', method='post')
				label Name
				input(id='firstname', name='f', type='text', placeholder='First', class='same-line-input field')
				input(id='lastname', name='l', type='text', placeholder='Last', class='same-line-input field')
				label Username
				input(id='username', name='u', type='text', placeholder='Username', class='single-line-input field')
				label Password
				input(id='password', name='p', type='password', placeholder='Create a password', class='single-line-input field')
				label Confirm password
				input(id='password-again', name='pa', type='password', placeholder='Confirm password', class='single-line-input field')
				label Email
				input(id='email', name='e', type='text', placeholder='Email', class='single-line-input field')
				label Confirm email
				input(id='email-again', name='ea', type='text', placeholder='Confirm email address', class='single-line-input field')
				label(class='optional') Zipcode
				input(id='zipcode', name='z', maxlength='5', type='text', placeholder='Zipcode', class='same-line-input field')
				label Gender
				select(id='gender-select', name='g', class='field')
					option(selected='true') I am...
					option(value='m') Male
					option(value='f') Female
				label Policy Agreement
				div(id='tos-container' class='field')
					input(id='tos-checkbox', type='checkbox', value='I_AGREE', name='tos', style='outline:0;border:0;')
					span(id='tos-disclosure') I agree to 
						a(href='/policy.html') 
							span policies
						|  and the 
						a(href='/policy.html') 
							span terms of service
				button(id='signup-button') Sign up











block mailBlock
	div(id='mailWrapper')
		div(id='actionContainer')
			ul(id='newMessage', class='action', data-selected='true')
				img(src='/img/mail_ui.png')
				label Inbox
				li(class='open', data-for='[INBOX]') Open
				li(class='compose') New
		div(id='previewContainer')
			div(class='messageGroup unread')
				div(class='groupAuthor')
					img(src='/img/default.png')
					span(class='Username') Phil
				div(class='groupTo') 
					span(class='SentTo') Sent to &rarr; 
					span(class='Username') Lukeymoo
					span(class='Username') Lukeymoo2
				span(class='groupLastTimestamp') 11:02 AM
				br
				span(class='groupLastMessage') 
					span(class='By') Phil
					| You going to the party ?
				img(src='/img/gearbox.png', class='groupOptions')


			div(id='composeForm')
				span(id='hideForm') &#10095;
				div(id='messageToContainer')
					div(id='messageTo', contenteditable='true')


		div(id='messageViewer')























block mailBlock_backup
	div(id='mailWrapper')
		div(id='pageMessage')
		div(id='backgroundBlur')

		div(id='viewerContainer')
			div(id='viewerControls')
				div(id='back')
					label(id='backLabel') back
				div(id='trash') Trash
				div(id='reply') Reply
			div(id='viewerContent')
				div(id='subject') 
				div(id='from') 
				div(id='to') 
				div(id='text') 
				
		
		div(id='composeForm', data-active='false')
			div(id='header') New message
				div(id='controls')
					div(id='close') &times;

			div(id='messageToContainer')
				div(id='chipsContainer')
				div(id='inputContainer')
					input(id='messageTo', type='text', placeholder='Add Recipient', tabindex=1)
			input(id='messageSubject', type='text', placeholder='Message Subject', tabindex=2)
			textarea(id='messageText', placeholder='Message...', tabindex=3)
			button(id='sendMessage') Send
			button(id='messageImage') Image
			button(id='cancelMessage') Cancel

		div(id='mailControlsContainer')
			div(id='mailControls')
				div(id='compose') Compose
				div(id='inbox', data-selected='true') Inbox
				div(id='trash', data-selected='false') Trash

		div(id='mailContent')
			div(id='mailActionsContainer', data-active='false')
				div(id='mailActionsButton') Actions
					div(id='mailActions', data-selected='false')
					
			div(id='mailFilters')
				div(id='selectAll') 
					input(type='checkbox')
					span Select all
				div(id='title') Title
				div(id='from') From
				div(id='date') Date

			div(id='messageContainer')
				//
					div(class='message')
						div(id='select')
							input(type='checkbox')
						div(id='id') ijfnJsK213m4kakms-oikjk-mdsk
						div(id='title') This is a title
						div(id='from') @lukeymoo
						div(id='date') Apr. 1


block profileBlock
	div(id='avatarContainer')
		img(id='avatar', alt='ProfilePic')


block tipsBlock
	div(id='tipsContainer')
		form(id='tipsForm')
			label(id='inputLabel') Got any tips for us ?
			textarea(id='tips', placeholder='Tell us here...')
		button Submit
		label(id='submitLabel') Yes, we do read these.

block frontPageBlock
	if USER.LOGGED_IN
	else
		div(id='heroContainer')
				div(id='welcome') Welcome to the DMV Exchange					
				div(id='overlay')
				a(href='/market')
						div(id='gotoMarket') Go to the Market
		div(id='contact', class='block') Buy, sell trade
		div(id='whatis', class='block') What is the DMV Exchange ?
			ul(id='cta_list')
				li Sell your stuff fast!
					span No complicated sale forms
						br
						| Enter a description, select images and Post it!
				li Get major discounts
					span Buy items with huge savings
						| or trade your unwanted stuff.
				li Establish your business
					span Use DMV Exchange as a platform to sell
						| products and services and avoid the startup costs of a business

block accountActivated
	div(id='overlayMessage')
		label Account Activated
		span Thanks for activating your account, more features have
			| become available to you.
		a(href='/')
			div(id='continueLink') Main page


block accountCanceled
	div(id='overlayMessage')
		label Are you sure you want to unlink email?
		span Your email will no longer be associated with this account
		a(href='/')
			div(id='wrongLink') No, don't unlink my email
		div(id='confirmLink') Yes, unlink my email

block accountActive
	div(id='overlayMessage')
		label This account has already been activated!
		span The activation code has already been used and
			| the account activated!
		a(href='/')
			div(id='continueLink') Continue