extends layouts/marketLayout

block headerMenu
	ul(id='headerMenu', data-selected='false')
		if USER.LOGGED_IN
			a(href='/market')
				li Home
			a(href='/account')
				li Account
			a(href='/logout')
				li Logout
		else
			a(href='/')
				li Home
			a(href='/tips')
				li Have tips?
			a(href='/signin')
				li Log in
			a(href='/signup')
				li Sign up
	div(id='pageMessage')

block createBlock
	div(id='createContainer')
		div(id='createPlaceholder') Create a post...
			div(id='createCamera')
		div(id='inputContainer')
			div(id='cancelButton') &times;
			textarea
			div(id='controls')
				form(id='uploadForm', enctype='multipart/form-data', action='/market/post', method='post')
					textarea(class='photoUpload', name='d', id='description')
					input(type='file', class='photoUpload', name='photo1', id='file1', data-available='true')
					input(type='file', class='photoUpload', name='photo2', id='file2', data-available='false')
					input(type='file', class='photoUpload', name='photo3', id='file3', data-available='false')
					input(type='file', class='photoUpload', name='photo4', id='file4', data-available='false')
				div(id='handler1', class='addPhoto', data-available='false', data-image='false')
					div(id='remove', data-for='handler1') &times;
					img(src='/img/camera_blur.png')
				div(id='handler2', class='addPhoto', data-available='false', data-image='false')
					div(id='remove', data-for='handler2') &times;
					img(src='/img/camera_blur.png')
				div(id='handler3', class='addPhoto', data-available='false', data-image='false')
					div(id='remove', data-for='handler3') &times;
					img(src='/img/camera_blur.png')
				div(id='handler4', class='addPhoto', data-available='false', data-image='false')
					div(id='remove', data-for='handler4') &times;
					img(src='/img/camera_blur.png')
				div(id='post') Post

block marketFeedBlock
	div(id='feedContainer')
		if FEED
			each POST in FEED
				if POST.visibility > 0
					div(id='post')
						div(id='thumbnail')
							if POST.image_links[0]
								img(src='#{POST.image_links[0].large_image}', alt='bad link')
						div(id='post_info')
							div(id='creator_username') #{POST.creator_username}
							div(id='creator_id') #{POST.creator_id}
							div(id='text') #{POST.text}
						div(id='post_misc')
							div(id='subscribers') #{POST.subscribers}
							div(id='comments') #{POST.comments}
							div(id='flags') #{POST.flags}